/*
Theme Name: Careers WP Theme
Theme URI: http://themeforest.net/user/uouapps
Description: Price comparison theme on top of Comparis Plugin
Tags: left-sidebar, right-sidebar, responsive-layout, custom-menu, editor-style, featured-images, full-width-template, post-formats, theme-options, translation-ready 
Author:	UouApps
Author URI: http://themeforest.net/user/uouapps
License: GNU General Public License
License URI: license.txt 
Version: 1.0.1
@package Comparis
@since Careers 1.0.0
*/


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
.wp-audio-shortcode {
    visibility: visible !important;
}
.gallery .gallery-caption {
    font-size: 13px;
    margin: 4px 0;
}
.bypostauthor {
    font-weight: bold;
}
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}
/*--------login bottom css--------*/
    .center {
        text-align: center;
    }

    .login_bn {
        position:absolute;
        width:170px!important;
        height:180px!important;
        right: 431px !important;
        top: 250px !important;
        left:auto!important;
        font-size: 90%;
        z-index:3;
    }

    .login_bn button {
        border:none;
    }

    .login_bn button:hover{
        opacity: 0.7;
    }

    .login_bn p {
        margin:0;
        padding:5px 0 0;
    }

    .login_bn p.pt1 {
        padding-top: 10px;
    }

    .login_title {
        background: #000;
        color:#fff;
        padding:15px 10px;
        font-weight: bold;
        border-radius: 6px 6px 0 0;
    }

    .login_title img{
        width:22px!important;
        display:inline!important;
    }

    .login_btn {
        background: rgba(255,255,255,0.75);
        padding:5px 10px 12px;
        border-radius: 0 0 4px 4px;
    }

    .login_btn .btn_new {
        background:#2aadde;
        color:#fff;
        font-weight: bold;
        text-align: center;
        padding:5px 10px;
        width: 100%;
        border-radius: 5px;
        margin: 0 auto;
    }

    .login_btn .btn_login {
        background:#eaa939;
        color:#fff;
        font-weight: bold;
        text-align: center;
        padding:5px 10px;
        width: 100%;
        border-radius: 4px;
        margin: 0 auto;
    }

    @media screen and (max-width:767px){
        .login_bn {
        width:140px!important;
        height:110px!important;
        right:20px!important;
        top:20px!important;
        font-size:80%;
        line-height: 1.2;
        }

        .login_title img {
            display: none!important;;
        }

        .login_title {
            padding:5px;
        }

        .login_btn {
            padding:5px;
        }
}
