.mejs-container {
	position: relative;
	background: #000;
	font-family: sans-serif;
	text-align: left;
	vertical-align: top;
	text-indent: 0;
	margin-bottom: 0;
}

.me-plugin {
	position: absolute;
}

.mejs-embed, .mejs-embed body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #000;
	overflow: hidden;
}

.mejs-fullscreen {
	/* set it to not show scroll bars so 100% will work */
	overflow: hidden !important;
}

.mejs-container-fullscreen {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 1000;
}

.mejs-container-fullscreen .mejs-mediaelement,
.mejs-container-fullscreen video {
	width: 100%;
	height: 100%;
}

.mejs-clear {
	clear: both;
}

/* Start: LAYERS */
.mejs-background {
	position: absolute;
	top: 0;
	left: 0;
}

.mejs-mediaelement {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mejs-poster {
	position: absolute;
	top: 0;
	left: 0;
	background-size: contain;
	background-position: 50% 50% ;
	background-repeat: no-repeat ;
}

:root .mejs-poster img {
	display: none ;
}

.mejs-poster img {
	border: 0;
	padding: 0;
	border: 0;
}

.mejs-overlay {
	position: absolute;
	top: 0;
	left: 0;
}

.mejs-overlay-play {
	cursor: pointer;
}

.mejs-overlay-button {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
	text-align: center;
	line-height: 100px;
	color: white;
	font-family: 'FontAwesome';
	font-size: 72px;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}

.mejs-overlay-button:before {
 	content: '\f16a';
 }

.mejs-overlay:hover .mejs-overlay-button {
	color: #ffffff;
}

.mejs-overlay-loading {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	margin: -40px 0 0 -40px;
}

.mejs-overlay-loading span {
	display: block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-family: 'FontAwesome';
	font-size: 48px;
	color: #ffffff;
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.mejs-overlay-loading span:before {
	content: '\f110';
}

/* End: LAYERS */

/* Start: CONTROL BAR */
.mejs-container .mejs-controls {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0 125px 0 40px;
	bottom: 0;
	left: 0;
	background: #f6f6f6;
	height: 40px;
	width: 100%;
}

.audio-player.mejs-container .mejs-controls,
.wp-audio-shortcode.mejs-container .mejs-controls {
	padding: 0 105px 0 40px;
}

.mejs-container .mejs-controls div {
	list-style-type: none;
	background-image: none;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	position: absolute;
	top: 5px;
}

.mejs-controls .mejs-button button {
	cursor: pointer;
	display: block;
	font-size: 14px;
	line-height: 30px;
	text-decoration: none;
	margin: 0;
	padding: 0;
	height: 30px;
	width: 30px;
	border: 0;
	background: none;
	font-family: 'FontAwesome';
	color: #2aadde;
	text-align: center;
	outline: none;
}

/* End: CONTROL BAR */

/* Start: Play/Pause/Stop */
.mejs-controls .mejs-play,
.mejs-controls .mejs-pause,
.mejs-controls .mejs-stop {
	left: 5px;
}

.mejs-controls .mejs-play button:before {
	content: '\f04b';
}

.mejs-controls .mejs-pause button:before {
	content: '\f04c';
}

.mejs-controls .mejs-stop button:before {
	content: '\f04d';
}
/* Start: Play/Pause/Stop */

/* Start: Progress Bar */
.mejs-controls div.mejs-time-rail {
	direction: ltr;
	width: 100px;
	padding: 0;
	top: 15px;
}

.mejs-controls .mejs-time-rail span {
	display: block;
	position: absolute;
	width: 100%;
	height: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
	background: #ccc;
}

.mejs-controls .mejs-time-rail .mejs-time-buffering {
	display: none;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: #666;
	width: 0;
	opacity: .1;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
	background: #2aadde;
	width: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.mejs-controls .mejs-time-rail .mejs-time-handle {
	display: none;
}

.mejs-controls .mejs-time-rail .mejs-time-float {
	position: absolute;
	display: none;
	background: #e6e6e6;
	width: 40px;
	height: 20px;
	top: -25px;
	margin-left: -20px;
	text-align: center;
	color: inherit;
}

.mejs-controls .mejs-time-rail .mejs-time-float-current {
	margin: 0;
	width: 40px;
	display: block;
	text-align: center;
	left: 0;
	line-height: 20px;
	font-size: 10px;
	font-family: sans-serif;
}

.mejs-controls .mejs-time-rail .mejs-time-float-corner {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	bottom: -3px;
	left: 15px;
	border-top: 5px solid #e6e6e6;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.mejs-long-video .mejs-controls .mejs-time-rail .mejs-time-float {
	width: 50px;
}

.mejs-long-video .mejs-controls .mejs-time-rail .mejs-time-float-current {
	width: 50px;
}

.mejs-long-video .mejs-controls .mejs-time-rail .mejs-time-float-corner {
	left: 20px;
}

/* End: Progress Bar */

/* Start: Fullscreen */
.mejs-controls .mejs-fullscreen-button,
.mejs-controls .mejs-unfullscreen {
	left: auto;
	right: 5px;
}

.mejs-controls .mejs-fullscreen-button button:before {
	content: '\f065';
}

.mejs-controls .mejs-unfullscreen button:before {
	content: '\f066';
}

/* End: Fullscreen */

/* Start: Mute/Volume */
.mejs-controls .mejs-volume-button {
	right: 90px;
}

.audio-player .mejs-controls .mejs-volume-button,
.wp-audio-shortcode  .mejs-controls .mejs-volume-button {
	right: 70px;
}

.mejs-controls .mejs-mute button:before {
	content: '\f028';
}

.mejs-controls .mejs-unmute button:before {
	content: '\f026';
}

/* horizontal version */
.mejs-controls div.mejs-horizontal-volume-slider {
	height: 10px;
	width: 50px;
	position: absolute;
	right: 40px;
	top: 15px;
}

.audio-player .mejs-controls div.mejs-horizontal-volume-slider,
.wp-audio-shortcode .mejs-controls div.mejs-horizontal-volume-slider {
	right: 15px;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 10px;
	margin: 0;
	padding: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #cccccc;
	cursor: pointer;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 10px;
	margin: 0;
	padding: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #2aadde;
	cursor: pointer;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
	display: none;
}

/* End: Mute/Volume */

/* Start: Error */
.me-cannotplay {
}

.me-cannotplay a {
	color: #fff;
	font-weight: bold;
}

.me-cannotplay span {
	padding: 15px;
	display: block;
}
/* End: Error */

.mejs-duration {
	display: none;
}
.mejs-currenttime, .mejs-duration {
	display: none;
}

.wp-video {
	margin-bottom: 0;
	width: 100% !important;
	height: 100% !important
}
.mejs-container.mejs-video {
  width: 100% !important;
  height: auto !important;
  padding-top: 57%;
}
.mejs-container.mejs-video .mejs-overlay, .mejs-poster {
  width: 100% !important;
  height: 100% !important;
}
.mejs-container.mejs-video .mejs-mediaelement video {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100% !important;
  height: 100% !important;
}