a {
	color: #904799;
}
.home-categories div.category .fa,
.classified .inner h5 .fa,
#footer .footer-widget a:before,
.compare-price-item .price span,
.css-table-cell .price,
.compare-price-item .price span {
	color: #904799;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #6f3776;
    background: #904799;
    font-weight: bold;
    color: #ffffff;
}
a:hover,
a:focus {
	color: #6f3776;
}
hr.primary {
	border-top-color: #904799;
}
.ui-slider .ui-slider-handle {
	background: #6f3776;
}
.ui-slider .ui-slider-handle:before {
	border-color: #904799 !important;
}
.ui-slider .ui-slider-range {
	background: #904799;
}
table > thead > tr > th {
	background: #904799;
}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
	background-color: rgba(42,173,222,.025);
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: rgba(42,173,222,.05);
}
.btn-default,
.white-container input[type="submit"],
.woocommerce a.button.alt {
	border-bottom-color: #6f3776;
	background: #904799;
	color: #ffffff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.white-container input[type="submit"]:hover,
.woocommerce a.button.alt:hover {
	border-color: #4e2753;
	background-color: #6f3776;
	color: #ffffff;
}
#header .header-top-bar a:hover {
	color: #904799;
}
#header .header-top-bar .header-login > div,
#header .header-top-bar .header-register > div {
	border-top-color: #904799;
}
#header .header-nav-bar .primary-nav > li:hover {
	color: #904799;
}
#header .header-nav-bar .primary-nav > li.active > a {
	border-bottom-color: #904799;
}
#header .header-nav-bar .primary-nav:hover > li:hover > a,
#header .header-nav-bar .primary-nav:hover > li.active:hover > a {
	border-bottom-color: #904799;
}
#header .header-nav-bar .primary-nav ul {
	border-top-color: #904799;
}
#header .header-nav-bar .primary-nav ul > li:hover > a,
#header .header-nav-bar .primary-nav ul > li.hover > a,
#header .header-nav-bar .primary-nav ul > li.active > a {
	background: #904799;
}
#header .header-map {
	border-bottom-color: #904799;
}
#header .header-search-bar .toggle:hover,
#header .header-search-bar.active .toggle {
	background: #904799;
}
#header .header-search-bar .toggle:hover span,
#header .header-search-bar .toggle:hover span:before,
#header .header-search-bar .toggle:hover span:after,
#header .header-search-bar.active .toggle span,
#header .header-search-bar.active .toggle span:before,
#header .header-search-bar.active .toggle span:after {
	border-bottom-color: #6f3776;
}
#mobile-menu-toggle {
	background: #904799;
}
#footer .footer-links a:hover {
	color: #904799;
}
#footer .footer-links a:before {
	color: #904799;
}
.widget.links-widget > ul > li > a:hover,
.widget.links-widget > ul > li.active > a {
	color: #904799;
}
.filter-list a:hover,
.filter-list li.active > a {
	color: #904799;
}
.filter-list li.has-submenu > a:before {
	color: #904799;
}
.country-list a:hover {
	color: #904799;
}
.jobs-filter-widget .toggle {
	background: #904799;
}
.jobs-filter-widget .toggle:after {
	background: #904799;
}
.candidates-single-widget table .stars {
	color: #904799;
}
.pricing-tables .pricing-tables-column .price {
	color: #904799;
}
.nav-tabs {
	border-bottom-color: #904799;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	border-color: #904799;
	background-color: #904799;
}
.responsive-tabs > .tab-content .tab-pane {
	border-color: #904799;
}
.responsive-tabs > .tab-content > .acc-link.active,
.responsive-tabs > .tab-content > .acc-link.active:hover,
.responsive-tabs > .tab-content > .acc-link.active:focus {
	border-color: #904799;
	background-color: #904799;
}
.responsive-tabs.vertical > .tab-content {
	border-left-color: #904799;
}
.responsive-tabs.vertical > .nav-tabs {
	border-right-color: #904799;
}
.progress-bar > .progress-bar-inner > span {
	background: #904799;
}
.progress-bar.style-2 > .progress-bar-inner {
	background: #904799;
}
.progress-bar.toggle > .progress-bar-toggle {
	border-bottom-color: #6f3776;
	background: #904799;
}
.progress-bar.toggle.active > .progress-bar-toggle,
.progress-bar.toggle > .progress-bar-toggle:hover {
	border-bottom-color: #4e2753;
	background: #6f3776;
}
.progress-circle .loader-spiner {
	border-color: #904799;
}
.partners-item .img .overlay {
	background: #904799;
}
.jobs-item .date {
	background: #904799;
}
.pagination > li > a:hover {
	color: #904799;
}
.ullist li.active a,
.ullist li a:hover {
	color: #904799 !important;
}
.flex-control-paging li a:hover {
	background: #904799;
}
.flex-control-paging li a.flex-active {
	background: #904799;
}
@media (max-width: 991px) {
	#header .header-nav-bar .primary-nav li > a,
	#header .header-nav-bar .primary-nav ul > li > a {
		border-bottom: 1px solid #1a1a1a;
		background: #343434;
	}
	#header .header-nav-bar .primary-nav > li.active > a,
	#header .header-nav-bar .primary-nav > li:hover > a,
	#header .header-nav-bar .primary-nav > li.hover > a {
		border-bottom-color: #1a1a1a;
		background: #904799;
	}
	#header .header-nav-bar .primary-nav:hover > li:hover > a,
	#header .header-nav-bar .primary-nav:hover > li.active > a,
	#header .header-nav-bar .primary-nav:hover > li.active:hover > a {
		border-bottom-color: #1a1a1a;
	}
	#header .header-nav-bar .primary-nav > li.has-submenu > ul li:hover > a,
	#header .header-nav-bar .primary-nav > li.has-submenu > ul li.hover > a {
		background: #904799;
	}
}